
#logosvg{
    width:7rem;
}


#imagina{
   margin-top: none;
   padding-top: none;
}


#convence{
    background-color:#D4D4D4;
}

.top-bar {
    height: 58px;
    line-height: 58px;
    margin-bottom: 0px;
    border-radius: 10px;
}

